{% extends "FedInfo/base.html" %}

{% block content %}
{% load static %}
<div class="container">
    <div style="padding:1rem">
        <center>
            <p>
                <h2>
                    <b>Add federation infomation</b>
                </h2>
            </p>
        </center>
    </div>
    
    <form method="post"  style="width:inherit">
        {% csrf_token %}
        <!--yearUpdate-->
        <div>
            <input required type="text" name="FederationName" placeholder="Federation Name"  class="form-control form-control-lg">
            <label class="form-label" for="FederationName">Federation Name</label>
        
        </div>
       
        <div style="width:100%;border:solid 2px black">
            <center>
                <h3>
                    <b>
                        Federation president information
                    </b>
                </h3>
            </center>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-outline">
                
                    <input required type="text" name="PresidentName" placeholder="President first name"  class="form-control form-control-lg">
                    <label class="form-label" for="PresidentName">President first name</label>
            
                </div>

            </div>

        
        
            <div class="col-md-6 mb-4">

            <div class="form-outline" style="display:flex;flex-direction: column">
                
                <input required  type="text" name="PresidentLastName" placeholder="President Last name"  class="form-control form-control-lg">
                <label class="form-label" for="Middlename">President Last name</label>
            
            </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-outline">
                
                    <input required type="email" name="PresidentEmail" placeholder="President email address"  class="form-control form-control-lg">
                    <label class="form-label" for="PresidentEmail">President email address</label>
            
                </div>

            </div>

        
        
            <div class="col-md-6 mb-4">

            <div class="form-outline" style="display:flex;flex-direction: column">
                
                <input required  type="text" name="PresidentPhone" placeholder="President phone"  class="form-control form-control-lg">
                <label class="form-label" for="PresidentPhone">President phone</label>
            
            </div>

            </div>
        </div>

        
        <div style="width:100%;border:solid 2px black">
            <center>
                <h3>
                    <b>
                        Contact person information
                    </b>
                </h3>
            </center>
        </div>
        <br/>

        
        <!--ContactPersonPosition-->
        <div>
           
            <input required type="text" name="ContactPersonPosition" placeholder="Contact person's position on the federation" class="form-control form-control-lg">
            <label class="form-label" for="ContactPersonPosition">Position</label>
        
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-outline">
                
                    <input required type="text" name="ContactPersonName" placeholder="Contact person name"  class="form-control form-control-lg">
                    <label class="form-label" for="ContactPersonName">Contact person name</label>
            
                </div>

            </div>

        
        
            <div class="col-md-6 mb-4">

            <div class="form-outline" style="display:flex;flex-direction: column">
                
                <input type="text" name="ContactPersonLastName" placeholder="Contact person last name"  class="form-control form-control-lg">
                <label class="form-label" for="ContactPersonLastName">Contact person last name</label>
            
            </div>

            </div>
        </div>

        <div style="width:100%;border:solid 2px black">
            <center>
                <h3>
                    <b>
                        Federation contact
                    </b>
                </h3>
            </center>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6 mb-4">

                <div class="form-outline">
                
                    <input required type="email" required name="ContactPersonEmail" placeholder="Federation email" class="form-control form-control-lg">
                    <label class="form-label" for="ContactPersonEmail">Federation email</label>
            
                </div>

            </div>
            
        
        
            <div class="col-md-6 mb-4">

            <div class="form-outline" style="display:flex;flex-direction: column">
                
                <input required type="text" name="ContactPersonPhone" placeholder="Federation phone"  class="form-control form-control-lg">
                <label class="form-label" for="altcellphone">Federation phone</label>
            
            </div>

            </div>
        </div>
        
        
        <div>
            <div>
                <p>
                    <b> please indicate the year you are updating the information for.</b>
                </p>
            </div>
            <input required type="text" name="yearUpdate" class="form-control form-control-lg">
            <label class="form-label" for="yearUpdate">year</label>
        
        </div>
        

        <input class="btn btn-default btn-primary" style="width:100%" type="submit" value="Save and continue"/>
    </form>
</div>
{% endblock %}
